main {
    text-align: center;
}
#container {
    text-align: center;
    background: 10px lightblue;
    padding: 20px;
    
}

ul {
    color: black;
    display: inline;
    padding: 50px;
}

h1 {
    color: black;
}
