main {
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 100%;
    height: 100%;
}

#content-container {
    padding: 10px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
}

ul {
    color: black;
    display: inline;
    text-size-adjust: auto;
    font-size: 25px;
}

h1 {
    color: black;
    font-size: 40px;
    border-style: solid;
    display: inline-block;
    object-fit: contain;
    padding: 100px;
    margin-left: 30px;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
}

nav {
    flex-direction: column;
    text-align: right;
    padding: 20px;
    background-color: white;
}

#img {
    padding: 50%;
    object-fit: contain;
    display: inline-block;
    padding: 20px;
    border-style: solid;
    margin-right: 30px;
    vertical-align: middle;
}